@font-face {
  font-family: "Proxima Nova";
  src: url("/Proxima-Nova-Regular.woff2")
  format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/Proxima-Nova-Semibold.woff2")
  format("woff2");
  font-weight: 600;
}
body {
  margin: 0;
  font-family: "Proxima Nova", Arial, Tahoma, PingFangSC, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}